<!--
<div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button> 
       <span>Responsive Navigation</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>-->
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          
         <!--
          <a routerLinkActive="active" mat-button routerLink="image/list"> Gallery</a>
                <a routerLinkActive="active" mat-button routerLink="image/photo">  Upload photo</a>
                <a routerLinkActive="active" mat-button routerLink="images/test_list">  Questions/Réponses</a>
                <a routerLinkActive="active" mat-button routerLink="images/Question">   nouvelle question</a>

                <a routerLinkActive="active" mat-button routerLink="images/home_descripition"> Home description</a>
                
                <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signup"> Créer un compte</a>
                <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signin"> Connexion </a>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a routerLinkActive="active" mat-list-item routerLink="image/list"> Gallery</a>
          <a routerLinkActive="active" mat-list-item routerLink="image/photo">  Upload photo</a>
          <a routerLinkActive="active" mat-list-item routerLink="images/test_list">  Questions/Réponses</a>
          <a routerLinkActive="active" mat-list-item routerLink="images/Question">   nouvelle question</a>

          <a routerLinkActive="active" mat-list-item routerLink="images/home_descripition"> Home description</a>
          
          <a routerLinkActive="active" *ngIf="!isAuth" mat-list-item routerLink="auth/signup"> Créer un compte</a>
          <a routerLinkActive="active" *ngIf="!isAuth" mat-list-item routerLink="auth/signin"> Connexion </a>
          <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
 
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
   
    </mat-sidenav-container>
  </div>
  
-->














<!--

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a routerLinkActive="active" *ngIf="isAuth" mat-button class="companyName" routerLink="images/category/Apartment">
        <span>Backpacker-Apartment</span>
      </a>

      <span class="example-spacer"></span>
         <div fxShow="true" fxHide.lt-md="true">


                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="image/list"> Gallery</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="image/photo">  Upload photo</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/test_list">  Questions/Réponses</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/Question">   nouvelle question</a>

                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/home_descripition"> Home description</a>
                
                <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signup"> Créer un compte</a>
             <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signin"> Connexion </a>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
                



     
         </div>
  
        </mat-toolbar>

        <mat-sidenav-container fxFlexFill class="example-container">
  
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="image/list"> Gallery</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="image/photo">  Upload photo</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/test_list">  Questions/Réponses</a>
                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/Question">   nouvelle question</a>

                <a routerLinkActive="active" *ngIf="isAuth" mat-button routerLink="images/home_descripition"> Home description</a>
                
                <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signup"> Créer un compte</a>
                <a routerLinkActive="active" *ngIf="!isAuth" mat-button routerLink="auth/signin"> Connexion </a>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
                
            </div>
        </mat-sidenav>
    
      <mat-sidenav-content fxFlexFill>
        Awesome content
      </mat-sidenav-content>
     
    </mat-sidenav-container>
  </div>

-->



















<nav class="navbar navbar-default">
  
    <div class="container-fluid">
         
      
        
        <ul class="nav navbar-nav">


            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="image/list">
                    Gallery
                </a>
            </li>

            <li routerLinkActive="active" >
              <a routerLink="images/reservation">
                  reservation-salle
              </a>
          </li>

            
          

<!--
            <button >
              <a routerLink="images/view/0">
               
            
              <img src="assets/img/gallery.png" style="max-width:60px"/>
            </a>
            </button>
-->








            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="image/photo">
                   Upload photo
                </a>
            </li>


          </ul>

            <ul class="nav navbar-nav nav-bar-center">

              <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="images/view/0">
                    Gallery_details
                </a>
            </li>



<li routerLinkActive="active" *ngIf="isAuth">
    <a routerLink="images/test_list">
      Questions/Réponses
    </a>
</li>


            
<li routerLinkActive="active" *ngIf="isAuth">
    <a routerLink="images/Question">
      nouvelle question
    </a>
</li>

         
        </ul> 
      <!-- <button (click) ="UpdateProfile()">update profile</button> -->

        <ul class="nav navbar-nav nav-bar-right">
            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="images/home_descripition"> Home description </a>
            </li>

            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="auth/signup"> Créer un compte </a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="auth/signin"> Connexion </a>
            </li>           
            <li>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
            </li>
        </ul>
        
    </div>
</nav>


<!--
<div style="width:20px;height:20px;background-color:greenyellow;" 
*ngIf="isAuth">

<div style="width:20px;height:20px;background-color:rgb(252, 10, 10);" 
*ngIf="!isAuth">
-->