
<div class="col-xs-12">
        
       
<p>Mis à jour : Reservations {{ lastUpdate  | async | date: 'y MMMM EEEE d' | uppercase }} , par ZOFFKHAN </p>

<form [formGroup]="resaForm" (ngSubmit)="onSaveResa()">
    <div class="form-group">
        <label for="new_row">A quelle rangée voulez vous aller ?</label>
        <input style="height: 20px ;width:200px ;background-color:rgb(236, 234, 234)" type="text" class="form-control" id="new_row" formControlName="new_row" ngDefaultControl> 
       <!--
        <div class="text-danger" *ngIf="isSubmitted && formControls.author.errors?.required">This field is required.</div>
-->
    </div>

    <div class="form-group">
        <label for="new_order">combien de places voulez vous acheter ? </label>
        <input style="height: 20px ;width:200px ;background-color:rgb(236, 234, 234)" type="text" class="form-control" id="new_order" formControlName="new_order" ngDefaultControl> 
       <!--
        <div class="text-danger" *ngIf="isSubmitted && formControls.author.errors?.required">This field is required.</div>
-->
    </div>


    <!--
    <div class="form-group">
      <label for="place_libre">place libre(s) : {{place_libre}} </label>
     
  </div>

  <div class="form-group">
   <label for="bookerror">bookerror : {{bookerror}} </label>
  
</div>

-->
<div style="width:200px;height:20px;" > </div>
<div style="width:375px;height:20px;background-color:rgb(255, 0, 0);" 
*ngIf="bookerror === 'true'" >
<!--
<p>place(s) libre(s) insuffisante(s) dans cette rangée</p>
-->
  <p>places dispo : {{place_libre}}  / rangée : {{new_row}}</p>

  </div>
  <div style="width:200px;height:20px;">
</div>
<!--
  <div class="form-group">
  <div class="col-8 col-md-8" style="border: 1px solid silver">   <input  style="height: 20px ;width:200px "
   type="text"
   class="form-control"
   id="place_libre"
   [(ngModel)]="place_libre"
   name="place_libre" formControlName="place_libre" ngDefaultControl 
 /></div>
</div>
-->







        
    <button class="btn btn-success" type="submit">Vérifier la disponibilité</button>
 </form>

<!--
 <tr *ngFor = "let row of reservations">
   <td *ngFor = "let column of headers1">
     {{row[column]}}
   </td>
 </tr>
-->






 <button (click)="OnRAZ()">Plan de la salle</button> 
                  
 <button (click)="OnRAZ1()">Plan de la salle bis</button> 


	 
   

   <table *ngIf ="reservations" >
 
      
      <th *ngFor = "let column of headers">
         <div style="width:80px;height:40px;background-color:rgb(235, 243, 130);">    {{column}} </div>
       </th>


    <tr *ngFor ="let i of rowIndexArray ; "> 
      <div style="width:80px;height:40px;background-color:rgb(235, 243, 130);"> Rangée {{i+1}} </div>
          
        <td *ngIf="reservations[9*i]">
            
           <!-- <p>{{reservations[9*i].name}}</p> -->
           <!-- <p>{{reservations[9*i].id}}</p> -->
           
            <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
            *ngIf="reservations[9*i].status === 'libre' " >
           
            <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
            class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i].id)">
               book :{{reservations[9*i].id}} 
                </button>

             </div>
             <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
             *ngIf="reservations[9*i].status === 'réservé'" >
            
            
             <p> booked :{{reservations[9*i].id}} </p>
               

              </div>
         </td>

         <td *ngIf="reservations[9*i+1]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+1].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+1].id)">
                book :{{reservations[9*i+1].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+1].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+1].id}} </p>
                
 
               </div>
          </td>
  
          <td *ngIf="reservations[9*i+2]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+2].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+2].id)">
                book :{{reservations[9*i+2].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+2].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+2].id}} </p>
                
 
               </div>
          </td>
          <td *ngIf="reservations[9*i+3]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+3].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+3].id)">
                book :{{reservations[9*i+3].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+3].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+3].id}} </p>
                
 
               </div>
          </td>

          <td *ngIf="reservations[9*i+4]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+4].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+4].id)">
                book :{{reservations[9*i+4].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+4].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+4].id}} </p>
                
 
               </div>
          </td>

          <td *ngIf="reservations[9*i+5]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+5].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+5].id)">
                book :{{reservations[9*i+5].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+5].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+5].id}} </p>
                
 
               </div>
          </td>
          <td *ngIf="reservations[9*i+6]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+6].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+6].id)">
                book :{{reservations[9*i+6].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+6].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+6].id}} </p>
                
 
               </div>
          </td>


          <td *ngIf="reservations[9*i+7]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+7].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+7].id)">
                book :{{reservations[9*i+7].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+7].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+7].id}} </p>
                
 
               </div>
          </td>

          <td *ngIf="reservations[9*i+8]">
            
            <!-- <p>{{reservations[9*i].name}}</p> -->
            <!-- <p>{{reservations[9*i].id}}</p> -->
            
             <div style="width:80px;height:40px;background-color:rgb(0, 255, 191);" 
             *ngIf="reservations[9*i+8].status === 'libre'" >
            
             <button style="width:80px;height:40px;background-color:rgb(0, 255, 191);"
              class="btn-outline-sucess" [disabled]="bookerror === 'true'" (click)="onSwitchOn(reservations[9*i+8].id)">
                book :{{reservations[9*i+8].id}}
                 </button>
 
              </div>
              <div style="width:80px;height:40px;background-color:rgb(255, 0, 0);" 
              *ngIf="reservations[9*i+8].status === 'réservé'" >
             
             
              <p> booked :{{reservations[9*i+8].id}} </p>
                
 
               </div>
          </td>

    </tr>

   </table>
               
                


   <button class ="btn btn-success"(click)="onAllumer()">Tout réserver </button>
		<button class="btn btn-danger" (click)="onEteindre()">Tout libérer </button>





<!--
   <ng-container *ngFor="let reservation of reservations;index as i;">
        
  <p>{{reservation.name}}</p> 
   <p>{{reservation.id}}</p>
   <p>{{reservation.status}}</p>
      </ng-container>


        <button class ="btn btn-success"(click)="onAllumer()">Tout allumer </button>
		<button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
      </div>

-->