<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
       
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <Input style="height: 20px ;width:200px" type="text" id="email" class="form-control" formControlName="email" ngDefaultControl>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <Input style="height: 20px ;width:200px" type="text" id="password" class="form-control" formControlName="password" ngDefaultControl>
            </div>
           <div>
            <button  class="btn btn-outline-secondary" type="submit" [disabled]="signUpForm.invalid">Créer compte</button>
        </div>
        </form>
        <p class="text-danger">{{ errorMessage}} </p>
        
    </div>
</div>

